<h1>Comments#new</h1>
<p>Find me in app/views/comments/new.html.erb</p>

<div>
	<h2>Adding to following Post: <%= @post.title %></h2>
</div>

<div class="container">
	<h1>Add Comment</h1>
	<div class="row">
		<%= form_for [@post, @comments] do |f| %>
			<%= f.text_field :content, placeholder: "content" %><br>
			<%= f.submit "Save" %>
		<% end %>
	</div>

	<a href="/users/<%= @post.user_id%>/posts/<%= @comments.post_id%>">Go Back</a>

</div>



