<div class="container">
	
	<h1>Welcome to Micro Blog</h1>
	<button><a href="users/new">Create New User</a></button>


	<% @users.each do |user| %>

				<% user.posts.each do |post|  %>
					<% if post.title.length > 1 %>
					<p>Post Title:
						<a href="/users/<%= user.id%>/posts/<%= post.id %> "><%= post.title %></a>
					</p>
					<% end %>
				<% end %>
				

			<p>User:
				<a href="/users/<%= user.id %>"><%= user.first_name %></a>
			</p><br>


	<% end %>




</div>