<div class="container text-center">

	


<script id="entry-template" type="text/x-handlebars-template">


</script>


<div id="tagData" style="color:green">

	<% flash.each do |name,msg| %>
		<h2 id="<%= name %>"><%= msg %></h2>
	<% end %>



	<div class="jumbotron">
		<h1>Welcome to Micro Blog</h1>
		<h2>Trending Now:</h2>
	<% @users.each do |user| %>

		<% user.posts.each do |post|  %>
			<% if post.title.length > 1 %>

				<p><a href="/users/<%= user.id%>/posts/<%= post.id %> "><%= post.title %></a></p>

			<% end %>
		<% end %>
	<% end %>
</div>



<a href="javascript:void(0);" id="alltags" class="btn btn-primary">ALL TAGS!</a>





</div>