

<div class="container">
	<div class="row">

		<%= form_for @user do |f| %>
			<p>First Name: 
			<%= f.text_field :first_name %></p><br>
			<p>Last Name: 
			<%= f.text_field :last_name %></p><br>
			<p>Email: 
			<%= f.text_field :email %></p><br>
			<p>Image Url: 
			<%= f.text_field :image_url %></p><br>
			<%= f.submit "Save"%>
		<% end %>


	</div>
</div>

