

<div class="container">



	<h1>Create a New User</h1>

	<div class="row">

		<%= form_for @user do |f| %>
			<p>First Name:
			<%= f.text_field :first_name, placeholder: "firstname" %></p><br>
			<p>Last Name:
			<%= f.text_field :last_name, placeholder: "lastname" %></p><br>
			<p>Email:
			<%= email_field :user, :email, placeholder: "email" %></p><br>
			<p>Confirm Email:
			<%= email_field :user, :email, placeholder: "email" %>
			</p>
			<p>Password:
			<%= f.password_field :password, placeholder: "password" %>
			</p>
			<p>Image Url:
			<%= f.text_field :image_url, placeholder: "img url" %></p><br>
			<%= f.submit "Save"%>
		<% end %>

		<a href="/">Go Back to Home</a>

	</div>
</div>
