

<div class="container">
	<%= form_for :user do |f| %>
		<%= f.text_field :first_name %><br>
		<%= f.text_field :last_name %><br>
		<%= f.text_field :email %><br>
		<%= f.text_field :image_url %><br>
		<%= f.submit "Save" %>
	<% end %>
</div>