

<div class="container">
	
	<div class="jumbotron">
		<div class="row">
			<h2>Profile</h2>
				<p><%= @user.image_url%></p>
				<h3><%= @user.first_name %></h3>
				<p><%= @user.last_name %></p>
				<p><%= @user.email%></p>
		</div>

		<div class="row">
			<h3>Posts</h3>
				<p></p>
		</div>




		<!-- need to update hardcoded post#id -> posts/:id so that each post, you can add a comment; or add comment on each post show page-->
		<button><a href="/users/<%= @user.id %>/posts/1/comments/new">Add comment</a></button>


	</div>

</div>