

<div class="container">

	<div class="jumbotron">
		<div class="row">
			<h2>Profile</h2>
				<p><%= @user.image_url%></p>
				<h3><%= @user.first_name %></h3>
				<p><%= @user.last_name %></p>
				<p><%= @user.email%></p>


				<p><%= button_to 'about/contact',user_pages_path(@user), method: :get %> </p>
				<p><%= button_to 'update',edit_user_path, method: :get %> </p>
				<p><%= button_to 'delete', @users, method: :delete, data: {confirm: 'Are you sure?'} %> </p>
				

		</div>





		<!-- need to update hardcoded post#id -> posts/:id so that each post, you can add a comment; or add comment on each post show page-->
		<button><a href="/users/<%=@user.id%>/posts">Click here to view my Posts</a></button><br>

		<a href="/">Go back to All Posts Page(site index)</a>


	</div>

</div>