<div class = "container">
<%= form_for ([@user, @page]) do |f| %>
<div class = "row">
<% if @page.errors.any? %>
<div id = "error_explanation">
	<h2><%=pluralize(@page.errors.count,"error") %> prohibited this article from being saved:</h2>
	<ul>
	<% @page.errors.full_messages.each do |msg| %>
	<li><%=msg %></li>
	<% end %>
	</ul>
	</div>
	<% end %>
	<p>
<h3>Edit your page:</h3>
<%= f.label :name %> <br>
<%= f.text_field :name %>
<br>
<%= f.text_area :content, placeholder: "About Me" %>
<p>
<%=f.submit %>
</p>
</div>
<% end %>

	<button>
		<a href="/users/<%=@user.id%>/pages/<%= @page.id%>">Go Back</a>
	</button>
</div>