<div class="container">

	<h1>About Me/Contact:</h1>


<% flash.each do |name,msg| %>
	<h2 id="<%= name %>"><%= msg %></h2>
<% end %>



		<% if @pages != nil %>
	<% @pages.each do |page| %>
		<a href="/users/<%= @user.id %>/pages/<%= page.id %>"> <%= page.name %> </a><br>
		<% end %>
	<% end %>

	<% if session[:user_id] == @user.id %>
		<button>
			<a href="/users/<%=@user.id%>/pages/new">Create New Page</a>
		</button>	
	<% end %>

	<button>
		<a href="/users/<%=@user.id%>">Go Back</a>
	</button>

	<button>
		<a href="/">Go to Micro Blog Home</a>
	</button>

</div>