<div class="container">

<div class="jumbotron text-center">
	<h1>About Me/Contact:</h1>


<% flash.each do |name,msg| %>
	<h2 id="<%= name %>"><%= msg %></h2>
<% end %>



		<% if @pages != nil %>
	<% @pages.each do |page| %>
		<h4><a href="/users/<%= @user.id %>/pages/<%= page.id %>"> <%= page.name %> </a></h4><br>
		<% end %>
	<% end %>

	<% if session[:user_id] == @user.id %>
		
			<a href="/users/<%=@user.id%>/pages/new" class="btn btn-primary">Create New Page</a>
		
	<% end %>

	
		<a href="/users/<%=@user.id%>" class="btn btn-primary">Go Back</a>
	

	
		<a href="/" class="btn btn-primary">Go to Micro Blog Home</a>
	
</div>

</div>