<div class="container">

	<div class="jumbotron">
		<h2>About me:</h2>

		<% flash.each do |k,v| %>
			<h2 id="<% k %>"><%= v %></h2>
		<% end %>


		<p><%= @page.name%></p>
		<p><%= @page.content %></p>
		<% if session[:user_id] == @user.id %>
			<p><%= button_to 'update',edit_user_page_path, method: :get %> </p>
			<p><%= button_to 'delete', @pages, method: :delete, data: {confirm: 'Are you sure?'} %> </p>
		<% end %>

	</div>

	<button>
		<a href="/users/<%=@user.id%>/pages">Go Back</a>
	</button>

	<button>
		<a href="/users/<%=@user.id%>">Back to profile</a>
	</button>



</div>