<div class="container">
	<div class="jumbotron">

<h2>Enter your email to reset your password</h2>

<% flash.each do |name,msg| %>
	<h2 id="<%= name %>"><%= msg %></h2>
<% end %>

<%= form_tag passwords_path do %>
<%= text_field_tag :email, nil, placeholder: "Enter your email", class: "form-control" %>
<%= submit_tag "Reset Password", class: "btn btn-primary" %>
<% end %>


<a href="/" class="btn btn-primary">Home</a>
</div>

</div>
