<div class="container text-center">
	
	<div class="jumbotron">

	<% @tags.posts.each do |post| %>
		<h1><a href="/users/<%=post.user.id %>/posts/<%= post.id %>"><%= post.title %></a> </h1>
		<h5><%= post.created_at.to_formatted_s(:long) %></h5>


		<h5>
			<% post.tags.each do |tag| %>
				 <a href="/users/<%= post.user.id %>/tags/<%= tag.id %>">#<%= tag.name %></a>	
			<% end %>	
		</h5>


		<p><%= post.body %></p>


		<% if post.comments.length > 0 %>
      <h2><a href="/users/<%= post.user.id %>/posts/<%= post.id %>">(<%= post.comments.length %>) Comments</a></h2>
    <% end %>

		<h4>Posted By: <a href="/users/<%= post.user.id %>"><%= post.user.first_name %> <%= post.user.last_name %> </a></h4>
	<% end %>

</div>





 
</div>