<div class="container">

<div class="jumbotron text-center">

	<h1>New Post</h1>

	<div class="row">

	<%= form_for [@user, @posts] do |f| %>
		<%= f.text_field :title, placeholder: "Title", class: "form-control" %><br>
		
		<%= text_field_tag :tags, nil, placeholder: "Enter tags", class: "form-control" %><br>

		<%= f.text_area :body, placeholder: "Body", class: "form-control" %><br>

		<%= f.submit "Save", class: "btn btn-info" %>

	<% end %>

		
	<a href="/users/<%= @posts.user_id %>/posts" class="btn btn-primary">Go Back</a>

</div>
	</div> <!-- Row close -->


</div>  <!-- Container close -->
