
<div class="container">

	<h1>Posts#show</h1>
	<p>Find me in app/views/posts/show.html.erb</p>

	

	<h1><%= @post.title %></h1>
	<p><%= @post.body %></p>

	<a href="/users/<%= @user.id %>/posts/<%= @post.id %>/edit" class="btn btn-primary">Edit</a>
	


	<h2>Comments:</h2>
		<div class="row">
			<% @comments.each do |comment| %>
				<div>
					<p><%= comment.content %></p>
				</div>
			<% end %>
		</div>

<a href="/" class="btn btn-primary">Home</a>
<a href="/users/<%= @user.id %>/posts" class="btn btn-primary">Back to All Posts</a>

</div>  <!-- container close -->

