<!DOCTYPE html>
<html>
<head>
  <title>MicroBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">MicroBlogging</a>
		</div>
<ul class="nav navbar-nav">
	<li class="active"><a href="javascript:void(0); id="alltags"">ALL TAGS!</a></li>


	<% if session[:user_id] == nil %>
		<li><a href="/login">Log In</a></li>
		<li><a href="users/new">Create New User</a></li>
		<% else %>
		<li><a href="/users/<%= session[:user_id] %>/posts/new">New Post</a></li>
		<li><a href="/logout">Log Out</a></li>
		<% flash.each do |k,v| %>
			<h2 id="<% k %>"><%= v %></h2>
		<% end %>
	<% end %>
</ul>
</div>
</nav>

<%= yield %>

<%= params.inspect %>

</body>
</html>
